# Created by venv; see https://docs.python.org/3/library/venv.html
Include/
Lib/
Scripts/
__pycache__/

dataset/
outputs/
runs/
share/
Include/*
demo/Screenshot 2025-10-05 190616.png
*/__pycache__
demo/examples/
demo/frontend/public

demo/frontend/.next/*
demo/frontend/node_modules/*
